@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Info-Tech</h1>
   
</div>
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<div>
    <img src="img/foto.jpg" alt="" height="100%" width="50%" a />
</div>
