@model exeInventario.Models.Cad_Maquinas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cad_Maquinas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Modelo_Maq" class="control-label"></label>
                <input asp-for="Modelo_Maq" class="form-control" />
                <span asp-validation-for="Modelo_Maq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peças_Maq" class="control-label"></label>
                <input asp-for="Peças_Maq" class="form-control" />
                <span asp-validation-for="Peças_Maq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
